<div>
  <h1 class="header">Lane choices</h1>
  <div class="list">
    <div *ngFor="let name of lanePickList; index as i; first as isFirst">
      <span class="first opacity-zero text-item">{{name}} is going {{role[i]}}</span>
    </div>
  </div>

  <h1 class="header">Who is picking for whom</h1>
  <div class="list">
    <div *ngFor="let nameOne of pickOneList; index as i; first as isFirst">
      <span class="second opacity-zero text-item">{{nameOne}} is picking for {{pickTwoList[i]}}</span>
    </div>
  </div>
  <div class="button-padding">
    <button (click)="clickToRandomize()">Randomize!</button>
  </div>
  <div class="button-padding">
    <button routerLink="/">Start Over!</button>
  </div>

</div>
