.header {
  font-size: 4em;
}

.first {
  animation: 1s linear 250ms slidein-right forwards;
}

.second {
  animation: 1s linear 500ms slidein-right forwards;
}

.text-item {
  font-size: 3.125em;
}

.button-padding {
  padding: 2em;
}

button {
  font-size: 4em;
  background-color: aqua;
  border-radius: 0.5em 0em;
}

@keyframes slidein-right {
  0% {
    margin-left: -100%;
    width: 300%;
  }
  50% {
    margin-left: 100px;
  }
  100% {
    opacity: 1;
  }
}

.opacity-zero {
  opacity: 0;
}

.list {
 min-height: 17em;
}
