{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Metadata": {
    "AWS::CloudFormation::Designer": {
      "c759e223-47bb-4081-9337-8928282ca678": {
        "size": {
          "width": 960,
          "height": 660
        },
        "position": {
          "x": 120,
          "y": 90
        },
        "z": 1,
        "embeds": [
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "85f12cd5-653e-4225-96fa-a3f6f230c318",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8"
        ]
      },
      "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8": {
        "size": {
          "width": 390,
          "height": 330
        },
        "position": {
          "x": 180,
          "y": 120
        },
        "z": 2,
        "parent": "c759e223-47bb-4081-9337-8928282ca678",
        "embeds": [
          "55bb07d9-c2f7-4857-89cf-e5d3ffbc8a92"
        ],
        "iscontainedinside": [
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678"
        ]
      },
      "55bb07d9-c2f7-4857-89cf-e5d3ffbc8a92": {
        "size": {
          "width": 60,
          "height": 60
        },
        "position": {
          "x": 330,
          "y": 180
        },
        "z": 3,
        "parent": "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
        "embeds": [],
        "iscontainedinside": [
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8",
          "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8"
        ],
        "dependson": [
          "0245b503-f5ff-460c-ba04-30d7343f897c"
        ]
      },
      "85f12cd5-653e-4225-96fa-a3f6f230c318": {
        "size": {
          "width": 60,
          "height": 60
        },
        "position": {
          "x": 330,
          "y": 150
        },
        "z": 2,
        "parent": "c759e223-47bb-4081-9337-8928282ca678",
        "embeds": [],
        "iscontainedinside": [
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678"
        ]
      },
      "709d614a-7430-4c7a-9bde-aae66e1613f8": {
        "size": {
          "width": 390,
          "height": 270
        },
        "position": {
          "x": 450,
          "y": 240
        },
        "z": 2,
        "parent": "c759e223-47bb-4081-9337-8928282ca678",
        "embeds": [
          "0245b503-f5ff-460c-ba04-30d7343f897c"
        ],
        "iscontainedinside": [
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678",
          "c759e223-47bb-4081-9337-8928282ca678"
        ]
      },
      "0245b503-f5ff-460c-ba04-30d7343f897c": {
        "size": {
          "width": 60,
          "height": 60
        },
        "position": {
          "x": 600,
          "y": 300
        },
        "z": 3,
        "parent": "709d614a-7430-4c7a-9bde-aae66e1613f8",
        "embeds": [],
        "isassociatedwith": [
          "b26fbac2-20d6-4e0c-b8e7-358ef86f4fa2"
        ],
        "iscontainedinside": [
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "709d614a-7430-4c7a-9bde-aae66e1613f8"
        ],
        "dependson": [
          "9d346106-6074-4339-96f4-a047c879d654"
        ]
      },
      "b26fbac2-20d6-4e0c-b8e7-358ef86f4fa2": {
        "size": {
          "width": 60,
          "height": 60
        },
        "position": {
          "x": 510,
          "y": 180
        },
        "z": 1,
        "embeds": []
      },
      "9d346106-6074-4339-96f4-a047c879d654": {
        "source": {
          "id": "c759e223-47bb-4081-9337-8928282ca678"
        },
        "target": {
          "id": "b26fbac2-20d6-4e0c-b8e7-358ef86f4fa2"
        },
        "z": 1
      },
      "7024b6ce-e59a-420e-9793-5f6a6c2f3cef": {
        "source": {
          "id": "709d614a-7430-4c7a-9bde-aae66e1613f8"
        },
        "target": {
          "id": "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8"
        },
        "z": 2
      },
      "9fb10b3a-4404-4e7e-9c1e-87d373890004": {
        "size": {
          "width": 60,
          "height": 60
        },
        "position": {
          "x": 240,
          "y": 120
        },
        "z": 1,
        "embeds": [],
        "dependson": [
          "709d614a-7430-4c7a-9bde-aae66e1613f8",
          "0245b503-f5ff-460c-ba04-30d7343f897c"
        ]
      },
      "0238d251-6aa5-4021-8f6e-11a117817b28": {
        "size": {
          "width": 60,
          "height": 60
        },
        "position": {
          "x": 60,
          "y": 780
        },
        "z": 1,
        "embeds": [],
        "isassociatedwith": [
          "55bb07d9-c2f7-4857-89cf-e5d3ffbc8a92"
        ]
      }
    }
  },
  "Resources": {
    "LaneRandoVPC": {
      "Type": "AWS::EC2::VPC",
      "Properties": {
        "EnableDnsSupport": "true",
        "EnableDnsHostnames": "true",
        "CidrBlock": "10.0.0.0/16"
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "c759e223-47bb-4081-9337-8928282ca678"
        }
      }
    },
    "LaneRandoSubnet": {
      "Type": "AWS::EC2::Subnet",
      "Properties": {
        "VpcId": {
          "Ref": "LaneRandoVPC"
        },
        "CidrBlock": "10.0.0.0/24"
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "116f1afc-ea1e-4b23-b290-a0a0c1aec9c8"
        }
      }
    },
    "LaneRandoEC2": {
      "Type": "AWS::EC2::Instance",
      "Properties": {
        "InstanceType": {
          "Ref": "InstanceType"
        },
        "ImageId": {
          "Fn::FindInMap": [
            "AWSRegionArch2AMI",
            {
              "Ref": "AWS::Region"
            },
            {
              "Fn::FindInMap": [
                "AWSInstanceType2Arch",
                {
                  "Ref": "InstanceType"
                },
                "Arch"
              ]
            }
          ]
        },
        "KeyName": {
          "Ref": "KeyName"
        },
        "NetworkInterfaces": [
          {
            "GroupSet": [
              {
                "Ref": "LaneRandoSG"
              }
            ],
            "AssociatePublicIpAddress": "true",
            "DeviceIndex": "0",
            "DeleteOnTermination": "true",
            "SubnetId": {
              "Ref": "LaneRandoSubnet"
            }
          }
        ],
        "UserData": {
          "Fn::Base64": {
            "Fn::Join": [
              "",
              [
                "#!/bin/bash -xe\n",
                "apt-get update\n",
                "apt install -y docker.io\n",
                {
                  "Fn::Sub": [
                    "docker pull ${imageName}\n",
                    {
                      "imageName": {
                        "Ref": "UIImageName"
                      }
                    }
                  ]
                },
                {
                  "Fn::Sub": [
                    "docker run -d -it -p 80:80/tcp --name lane-rando ${imageName}\n",
                    {
                      "imageName": {
                        "Ref": "UIImageName"
                      }
                    }
                  ]
                },
                "service nginx start\n",
                "/opt/aws/bin/cfn-init -v ",
                "         --stack ",
                {
                  "Ref": "AWS::StackName"
                },
                "         --resource WebServerInstance ",
                "         --configsets All ",
                "         --region ",
                {
                  "Ref": "AWS::Region"
                },
                "\n",
                "# Signal the status from cfn-init\n",
                "/opt/aws/bin/cfn-signal -e $? ",
                "         --stack ",
                {
                  "Ref": "AWS::StackName"
                },
                "         --resource WebServerInstance ",
                "         --region ",
                {
                  "Ref": "AWS::Region"
                },
                "\n"
              ]
            ]
          }
        }
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "55bb07d9-c2f7-4857-89cf-e5d3ffbc8a92"
        }
      },
      "DependsOn": [
        "PublicRoute"
      ]
    },
    "LaneRandoSG": {
      "Type": "AWS::EC2::SecurityGroup",
      "Properties": {
        "VpcId": {
          "Ref": "LaneRandoVPC"
        },
        "GroupDescription": "Allow access from HTTP and SSH traffic",
        "SecurityGroupIngress": [
          {
            "IpProtocol": "tcp",
            "FromPort": "80",
            "ToPort": "80",
            "CidrIp": "0.0.0.0/0"
          },
          {
            "IpProtocol": "tcp",
            "FromPort": "22",
            "ToPort": "22",
            "CidrIp": {
              "Ref": "SSHLocation"
            }
          },
          {
            "IpProtocol": "tcp",
            "FromPort": "443",
            "ToPort": "443",
            "CidrIp": "0.0.0.0/0"
          }
        ]
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "85f12cd5-653e-4225-96fa-a3f6f230c318"
        }
      }
    },
    "LaneRandoRT": {
      "Type": "AWS::EC2::RouteTable",
      "Properties": {
        "VpcId": {
          "Ref": "LaneRandoVPC"
        }
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "709d614a-7430-4c7a-9bde-aae66e1613f8"
        }
      }
    },
    "LaneRandoIGW": {
      "Type": "AWS::EC2::InternetGateway",
      "Properties": {},
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "b26fbac2-20d6-4e0c-b8e7-358ef86f4fa2"
        }
      }
    },
    "LaneRandoGWA": {
      "Type": "AWS::EC2::VPCGatewayAttachment",
      "Properties": {
        "InternetGatewayId": {
          "Ref": "LaneRandoIGW"
        },
        "VpcId": {
          "Ref": "LaneRandoVPC"
        }
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "9d346106-6074-4339-96f4-a047c879d654"
        }
      }
    },
    "PublicRoute": {
      "Type": "AWS::EC2::Route",
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "0245b503-f5ff-460c-ba04-30d7343f897c"
        }
      },
      "DependsOn": [
        "LaneRandoGWA"
      ],
      "Properties": {
        "RouteTableId": {
          "Ref": "LaneRandoRT"
        },
        "DestinationCidrBlock": "0.0.0.0/0",
        "GatewayId": {
          "Ref": "LaneRandoIGW"
        }
      }
    },
    "LaneRandoRTA": {
      "Type": "AWS::EC2::SubnetRouteTableAssociation",
      "Properties": {
        "RouteTableId": {
          "Ref": "LaneRandoRT"
        },
        "SubnetId": {
          "Ref": "LaneRandoSubnet"
        }
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "7024b6ce-e59a-420e-9793-5f6a6c2f3cef"
        }
      }
    },
    "LaneRandoRecordSet": {
      "Type": "AWS::Route53::RecordSet",
      "Properties": {
        "Name": "lane-rando.net",
        "HostedZoneId": "Z04837761VCK9AI406DF3",
        "Comment": "Lane Rando's record set.",
        "AliasTarget": {
          "HostedZoneId": {
            "Fn::GetAtt": [
              "LaneRandoLB",
              "CanonicalHostedZoneNameID"
            ]
          },
          "DNSName": {
            "Fn::GetAtt": [
              "LaneRandoLB",
              "DNSName"
            ]
          }
        },
        "Type": "A"
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "9fb10b3a-4404-4e7e-9c1e-87d373890004"
        }
      },
      "DependsOn": [
        "LaneRandoRT",
        "PublicRoute"
      ]
    },
    "LaneRandoLB": {
      "Type": "AWS::ElasticLoadBalancing::LoadBalancer",
      "Properties": {
        "Subnets": [
          {
            "Ref": "LaneRandoSubnet"
          }
        ],
        "Instances": [
          {
            "Ref": "LaneRandoEC2"
          }
        ],
        "Listeners": [
          {
            "LoadBalancerPort": "80",
            "InstancePort": "80",
            "Protocol": "HTTP"
          },
          {
            "LoadBalancerPort": "443",
            "InstancePort": "80",
            "Protocol": "HTTPS",
            "SSLCertificateId": "arn:aws:acm:us-west-1:816923827429:certificate/76711a8b-3d3a-4c2b-8642-e3a9b2aab975"
          }
        ],
        "HealthCheck": {
          "Target": "HTTP:80/",
          "HealthyThreshold": "3",
          "UnhealthyThreshold": "5",
          "Interval": "30",
          "Timeout": "5"
        }
      },
      "Metadata": {
        "AWS::CloudFormation::Designer": {
          "id": "0238d251-6aa5-4021-8f6e-11a117817b28"
        }
      }
    }
  },
  "Parameters": {
    "InstanceType": {
      "Description": "WebServer EC2 instance type",
      "Type": "String",
      "Default": "t2.micro",
      "AllowedValues": [
        "t2.micro"
      ],
      "ConstraintDescription": "must be a valid EC2 instance type."
    },
    "UIImageName": {
      "Description": "UI Image to deploy to EC2 instance",
      "Type": "String",
      "Default": "poss11111/lane-rando-ui",
      "ConstraintDescription": "must be a valid image name."
    },
    "KeyName": {
      "Description": "Name of an EC2 KeyPair to enable SSH access to the instance.",
      "Type": "AWS::EC2::KeyPair::KeyName",
      "ConstraintDescription": "must be the name of an existing EC2 KeyPair."
    },
    "SSHLocation": {
      "Description": "The IP address range that can be used to access the web server using SSH.",
      "Type": "String",
      "MinLength": "9",
      "MaxLength": "18",
      "Default": "0.0.0.0/0",
      "AllowedPattern": "(\\d{1,3})\\.(\\d{1,3})\\.(\\d{1,3})\\.(\\d{1,3})/(\\d{1,2})",
      "ConstraintDescription": "must be a valid IP CIDR range of the form x.x.x.x/x."
    }
  },
  "Mappings": {
    "AWSInstanceType2Arch": {
      "t2.micro": {
        "Arch": "HVM64"
      }
    },
    "AWSRegionArch2AMI": {
      "us-east-1": {
        "HVM64": "ami-0ff8a91507f77f867",
        "HVMG2": "ami-0a584ac55a7631c0c"
      },
      "us-west-2": {
        "HVM64": "ami-a0cfeed8",
        "HVMG2": "ami-0e09505bc235aa82d"
      },
      "us-west-1": {
        "HVM64": "ami-0dd005d3eb03f66e8",
        "HVMG2": "ami-066ee5fd4a9ef77f1"
      },
      "us-east-2": {
        "HVM64": "ami-0b59bfac6be064b78",
        "HVMG2": "NOT_SUPPORTED"
      }
    }
  },
  "Outputs": {
    "URL": {
      "Value": {
        "Fn::Join": [
          "",
          [
            "http://",
            {
              "Fn::GetAtt": [
                "LaneRandoEC2",
                "PublicIp"
              ]
            }
          ]
        ]
      },
      "Description": "Newly created application URL"
    }
  }
}
