<div class="page-container">
  <div class="entry-component-title-block">
    <h2>Please enter 5 names to randomize between.</h2>
  </div>
  <div class="entry-component-content-blocks">
    <div class="entry-component-name-suggestions-block">
      <app-name-suggestion [nameSuggestions]="setOfNames" (nameSuggested)="populateSuggestedName($event)"></app-name-suggestion>
    </div>
    <div class="entry-container">
      <div class="input-container">
        <div class="input-padding">
          <label>
            <input type="text" placeholder="Name 1" [(ngModel)]="name1" (ngModelChange)="inputUpdate()">
          </label>
        </div>
        <div class="input-padding">
          <label>
            <input type="text" placeholder="Name 2" [(ngModel)]="name2" (ngModelChange)="inputUpdate()">
          </label>
        </div>
        <div class="input-padding">
          <label>
            <input type="text" placeholder="Name 3" [(ngModel)]="name3" (ngModelChange)="inputUpdate()">
          </label>
        </div>
        <div class="input-padding">
          <label>
            <input type="text" placeholder="Name 4" [(ngModel)]="name4" (ngModelChange)="inputUpdate()">
          </label>
        </div>
        <div class="input-padding">
          <label>
            <input type="text" placeholder="Name 5" [(ngModel)]="name5" (ngModelChange)="inputUpdate()">
          </label>
        </div>
        <div class="button-padding">
          <button (click)="clicked()" routerLink="/randomize" [disabled]="disabled">Randomize!</button>
        </div>
      </div>
    </div>
  </div>
</div>
